/* ------------------------Menu Pop-up Dropdown------------------------ */
.menu > li.menu-item-has-children > a:before {
  content: '';
  width: 13px;
  height: 13px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10000;
  border-left: 1px solid #f0f0f0;        /* Change Color */
  border-top: 1px solid #f0f0f0;        /* Change Color */
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  visibility: hidden;
  opacity: 0;
}

.sub-menu > li {
  display: block;
  margin: 8px;        /* Add New */
  border-bottom: 0px solid #fff;        /* Change Pixel and Color */
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 250px;        /* Change Pixel */
  z-index: 1000;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.07);        /* Add New */
  border: 1px solid #f0f0f0;        /* Change Color */
  border-radius: 20px;        /* Add New */
  visibility: hidden;
  opacity: 0;
}

.sub-menu > li > a:hover {
  color: #000;
  background:#e3e3e3;
  border-radius: 10px;        /* Add New */
}

/* -----------------------Pop-up Screen Homepage----------------------- */
.ps-popup__content {
  position: relative;
  max-width: 830px;
  width: 100%;
  -webkit-transition: tranform 0.4s ease;
  transition: tranform 0.4s ease;
  border-radius: 22px;        /* Add New */
}

.ps-popup__close {
  display: inline-block;
  position: absolute;
  width: 24px;        /* Change Size */
  height: 24px;        /* Change Size */
  top: 10px;
  right: 10px;
  background-color: #000;
  border: none;
  border-radius: 22px;        /* Change Rounded */
}

.ps-form--subscribe-popup input {
  margin-bottom: 20px;
  height: 40px;
  border: 1px solid #c9c9c9;        /* Change Pixel */
  border-radius: 22px;        /* Add New */
}

.ps-checkbox label:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0px;
  height: 20px;
  width: 20px;
  z-index: 10;
  border: 1px solid #c9c9c9;        /* Change Color */
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.ps-form--subscribe-popup .ps-checkbox > label:before {
  border-radius: 22px;        /* Change Rounded */
}

.ps-btn, button.ps-btn {
  display: inline-block;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #fff !important;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  background-color: #26901b;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  border-radius: 22px;        /* Add New */
}

/* -----------------------Pop-up Menu Kategori----------------------- */

/* -----------------------Search-bar and button----------------------- */

/* -------------------------Nav-bar Homepage------------------------- */

/* ---------------------Thumbnail produk Homepage--------------------- */

/* --------------------Pop-up View produk Homepage-------------------- */


/* ------------------------Nav-bar Produk-page------------------------ */

/* ------------------------Side-bar Produk-page------------------------ */

/* -----------------------Pagination Produk-page----------------------- */


/* ---------------------Nav-bar Produk detail-page--------------------- */
